\documentclass{article}

\begin{document}

\section*{ {{ name }} }

\section*{Experience}

{% for job in experience %}
\textbf{ {{ job.title }} } at {{ job.company }}

\begin{itemize}
{% for b in job.bullets %}
\item {{ b }}
{% endfor %}
\end{itemize}

{% endfor %}

\end{document}
